<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="templates/css/bootstrap.min.css">
    <link rel="stylesheet" href="templates/css/styles.css">
    <title>main_page...</title>
    
</head>
<style type="text/css">
	body {
		background-color: #e6d195;
		padding: 0px;
		margin:0px;
	}
	#header_name{
		background-color: #12CC32;
		padding-top: 20px;
		padding-bottom: 5px;
	}
	#content{
		margin: 10px;
	}
	#option{
		position: absolute;
		margin: 10px;
	}
	#option .left{
		float: left;
		margin-top:10px;
		margin-right:50px;  
		border: 2px solid blue;
		background-color: white;
		color: white;

	}
	#table_1{
		margin-top: 50px;
	}
	table th,td{
		padding: 5px;
	}
</style>
<body>
<header id ="header_name">     
	
    <h1 >Fotmob</h1>
    <section id ="option">
		<div class="left"><a href="{% url 'index' %}">Home</a></div>
    	<div class="left"><a href="{% url 'scores' %}">Statistics</a></div>
    	<div class="left"><a href="{% url 'table' %}">Table</a></div>
    </section>
            
          
         
</header>
<section id ="content">
	<form method="POST" autocomplete="off">
        {% csrf_token %}
        <h1>Input players</h1>

        <div class="inset">
          <span>
            <label for="player1">Player 1</label>
            <input type="text" name="player1" id="player1">
          </span>

          <span>
            <label for="player2">Player 2</label>
            <input type="text" name="player2" id="player2">
          </span>

          <a href="compare"><input type="submit" name="go" id="go" value="submitted" class ="button"></a>>

          
		
	  </form>
	  
</section>

</body>
</html>
