
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="templates/css/bootstrap.min.css">
    <link rel="stylesheet" href="templates/css/styles.css">
    <title>main_page...</title>
    
</head>
<style type="text/css">
	body {
		background-color: #e6d195;
		padding: 0px;
		margin:0px;
	}
	#header_name{
		background-color: #12CC32;
		padding-top: 20px;
		padding-bottom: 5px;
		margin-bottom: 50px;
	}
	#content{
		margin-top: 300px;
		margin: 10px;
	}
	#option{
		position: absolute;
		margin: 10px;
	}
	#option .left{
		float: left;
		margin-top:10px;
		margin-right:50px;  
		border: 2px solid blue;
		background-color: white;
		color: white;

	}
	#table_1{
		margin-top: 50px;
	}
</style>
<body>
<header id ="header_name">     
	
    <h1 >Fotmob</h1>
    <section id ="option">
        
        <div class="left"><a href="{% url 'index' %}">Home</a></div>
    	<div class="left"><a href="{% url 'scores' %}">Scores</a></div>
        <div class="left"><a href="{% url 'table' %}">Table</a></div>
        
    </section>
            
          
         
</header>
<section id ="content">
    {% for team_each in squad_details.team_info %}
	<h1 >Team : {{ team_each.Team_name}} ({{team_each.short_name}})</h1>
	
    {% endfor %}



</section>
<section id ="content">

<h1 id ="table_1"></h1>
<div>
	<h3>Coach: </h3>
	<ul>
	{% for coach_each in squad_details.coach %}
	<li><p><a href="{%url 'coach_info' coach_each.coach_id  %}">{{coach_each.coach_name}}</a></p></li>
	{% endfor %}
	</ul>
</div>
    {% for p1 in squad_details.position %}
	<h2>{{p1.pos}}</h2>
		<ol>
           {% for p2 in p1.pl %}
		   <li><h4><a href="{%url 'players_info' p2.id %}">{{p2.name}}</a></h4></li>
		   {% endfor %}       
		</ol>
    {% endfor %}

</section>
</body>
</html>