<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="templates/css/bootstrap.min.css">
    <link rel="stylesheet" href="templates/css/styles.css">
    <title>main_page...</title>
    
</head>
<style type="text/css">
	body {
		background-color: #e6d195;
		padding: 0px;
		margin:0px;
	}
	#header_name{
		background-color: #12CC32;
		padding-top: 20px;
		padding-bottom: 5px;
	}
	#content{
		margin: 10px;
	}
	#option{
		position: absolute;
		margin: 10px;
	}
	#option .left{
		float: left;
		margin-top:10px;
		margin-right:50px;  
		border: 2px solid blue;
		background-color: white;
		color: white;

	}
	#table_1{
		margin-top: 50px;
	}
	table th,td{
		padding: 5px;
	}
	#size{
		width: 40px;
		height: 30px;
	}
</style>
<body>
<header id ="header_name">     
	
    <h1 >Fotmob</h1>
    <section id ="option">
		<div class="left"><a href="{% url 'index' %}">Home</a></div>
    	<div class="left"><a href="{% url 'scores' %}">Scores</a></div>
    	<div class="left"><a href="{% url 'table' %}">Table</a></div>
    </section>
            
          
         
</header>
<section id ="content">
	{%load static%}
<h1 id ="table_1">Table Point</h1>

<table width="100%"  border="1">
    <tr style="background-color:lightgray">
        <th>Team_name</th>
		<th>PL</th>
		<th>W</th>
		<th>D</th>
		<th>L</th>
		<th>PTS</th>
	</tr>
    {% for team_each in table %}
       <tr>
		
			
           <td><img id ="size" src="{% static team_each.flag_path %}"><a href="{%url 'team_info' team_each.Team_id %}"> {{team_each.Team_id}} {{team_each.Team_name}}</a></td>
		   <td>{{team_each.Played }}</td>
		   <td>{{team_each.Win }}</td>
		   <td>{{team_each.Draw }}</td>
		   <td>{{team_each.Lose }}</td>
		   <td>{{team_each.Point }}</td>
          
       </tr>
	{% endfor %}
	

</table>
</section>
</body>
</html>
